extends ../layouts/default

block navigation

block content
	#error
		.container
			.error-container
				.content
					h1 404
					p.lead Oups erreur! Il n'y a rien ici...
					a(href='./')
						button(type="button").btn.btn-primary Retourner à l'accueil

block footer
