extends ../layouts/default

block content
    .container-fluid.apropos
        .header(data-aos="fade-down"  data-aos-easing="ease-in-out"      data-bg='/images/apropos/banner-top.jpeg')
            .filter
            .content.container-fluid
                h1 À propos de 
                    i C’est Chien!
                .top-tag
                    p Nos valeurs prédominantes sont la rigueur, la fiabilité, la coopération, le soutien mais surtout le plaisir! 
                .text-tag
                    p Passionnées d’éducation canine et de dressage, nous avons à coeur votre bien-être et celui de votre animal.
                    p — Notre Mission
                    p Notre mission est de venir en aide aux propriétaires de chiens afin de corriger les problèmes de comportement tout en améliorant la capacité d’obéissance de vos compagnons poilus. 
                    p Nous souhaitons également sensibiliser la population aux risques de morsures et prévenir le nombre d’abandons causés par des changements de mode de vie. 
        .sub-content(data-aos="fade-down"  data-aos-easing="ease-in-out"  data-bg='/images/apropos/banner-mid.jpg')
            .filter
            .content.container-fluid
                .row
                    .col-lg-5.col-sm-12
                        .top-tag
                            p Vous serez séduit par notre approche basée sur le renforcement positif et le respect des limites de votre animal. 
                        .text-tag
                            p — Horaire flexible
                            p La flexibilité de nos horaires ainsi que notre grande disponibilité vous permettra de bénéficier de nos services d’éducation canine sans bousculer votre train de vie. 
                    .col-lg-6.offset-lg-1.col-sm-12
                        .aside-tag
                            p Avec notre variété d’astuces et de services, nous saurons répondre à tous vos besoins et demandes. 
        .last-content(data-aos="fade-down"  data-aos-easing="ease-in-out" )
            .content.container-fluid
                .row
                    .col-lg-6.col-sm-12
                        .maps(data-bg='/images/apropos/maps.jpg')
  
                    .col-lg-5.offset-lg-1
                        .aside-text
                            p Tous nos services sont offerts sur l'île de Montréal et sur la Rive-Sud. 
                            hr
                            p Contactez-nous et il nous fera plaisir de vous orienter sur les services proposés!

