extends ../layouts/default

mixin post(post)
	.card.post((user, { list: 'Post', id: post.id }) data-post-link='/blogue/post/' + post.slug)
		.filter-post
		if post.image.exists
			img(src=post._.image.fit(650,650)).img.card-img-top
			.card-body
				.categories-nav
					if post.categories && post.categories.length
						each cat, i in post.categories
							a(class="categories cat-link" href='/blogue/' + cat.key)= cat.name 
							if i < post.categories.length - 1
								span.separator /							
				p.lead
					if post.publishedDate
						| on #{post._.publishedDate.format('MMMM Do, YYYY')} 

				h5.card-title= post.title
			a(href='/blogue/post/' + post.slug class="btn btn-blog") Lire l'article...



block intro
	+page-title("Notre blogue!","Ici, vous pourrez en lire plus sur notre cheminement!", "/images/flash-banner/blog-banner.jpg")

block content
	#blog
		.blog-content(data-aos="fade-down"  data-aos-easing="ease-in-out" )
			.container-fluid
				ul.nav.nav-tabs(id="myTab" role="tablist")
					li.nav-item
						a.nav-link(id="home-tab"  role="tab" aria-controls=data.categories.id aria-selected="true" href='/blogue', class=!data.category ? 'active' : false) Tous les blogues
					each cat in data.categories
						li.nav-item
							a.nav-link(id="home-tab"  role="tab" aria-controls="home" aria-selected="true" href='/blogue/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false)= cat.name
				if data.posts.results.length
					+loader
				if filters.category && !data.category
					h3.text-muted Invalid Category.
				else
					if data.posts.results.length
						.blog-post.card-columns
							each post in data.posts.results
								+post(post)

						if data.posts.totalPages > 1
							ul.pagination
								if data.posts.previous
									li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
								else
									li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
								each p, i in data.posts.pages
									li(class=data.posts.currentPage == p ? 'active' : null)
										a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
								if data.posts.next
									li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
								else
									li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
					else
						if data.category
							h3.text-muted Silence... Aucun blogue dans cette catégorie...
						else
							h3.text-muted Aucun blogue n'a été publié encore.

	script.
		var $card = $(".card.post")
		$($card).click(function(e) {
			
		window.location.href = $(this).data('post-link');

		});
		console.log('card', $card);
		

