extends ../layouts/default


block intro
	.container-fluid
		+page-title("CONTACTEZ-NOUS","Pour prendre rendez-vous ou pour toute autre demande", "/images/flash-banner/contact-banner.jpg")

block content
	.container-fluid(data-aos="fade-down" data-aos-easing="ease-in-out" )
		.row
			.col-lg-12
				.form-title
					h1 
						i(class="fas fa-envelope")
						i Envoyer un message par courriel:


				form(method='POST' id='form' class='validate-on-load' name='contact-form').form-horizontal
					input(type='hidden', name='action', value='contact')
					.form-group(class=validationErrors.name ? 'has-error' : null)
						label.col-sm-12.control-label
							i.fas.fa-address-card  
							span Nom Prénom
						.col-sm-12
							input(type='text' name='namefull' value=formData['namefull'] required placeholder="John Barry" ).form-control.nameBox
					.form-group(class=validationErrors.email ? 'has-error' : null)
						label.col-sm-12.control-label
							i.fas.fa-envelope  
							span Courriel
						.col-sm-12
							input(type='email' name='email' value=formData.email required placeholder="nom@domain.com").form-control.emailBox
					.form-group
						label.col-sm-12.control-label
							i.fas.fa-phone  
							span Téléphone
						.col-sm-12
							input(type='text' name='phone' value=formData.phone placeholder='(optionnel)').form-control
					.form-group(class=validationErrors.enquiryType ? 'has-error' : null)
						label.col-sm-12.control-label
							i.fas.fa-list-ul  
							span ville
						.col-sm-12
							select(name='enquiryType' required type='text').form-control.selectionBox
								option(value='' required) Choisir une option
								each type in enquiryTypes
									option(value=type.value selected=formData.enquiryType === type.value)= type.label
					.form-group(class=validationErrors.message ? 'has-errord' : null)
						label.col-sm-12.control-label
							i.fas.fa-align-right
							span Message
						.col-sm-12
							textarea.messageBox(type='textarea' style="overflow:auto;resize:none" name='message' placeholder='Laisser un message...' rows=4 required).form-control= formData.message
					.form-group.form-submit(class=validationErrors.email ? 'has-error' : null)
						.col-sm-12
							button( type='submit').btn.btn-submit.disabled Envoyer







