extends ../layouts/default

block content
	.container-fluid.accueil
		.intro-banner(data-aos="fade-down"  data-aos-easing="ease-in-out"  data-bg='/images/accueil/banner-intro.jpg')
			.filter
			.content.container-fluid
				h1 Pour mieux vivre avec nos animaux
				h2.lead  Services d'éducation canine
				.numero-nav
					a
						i(class='fas fa-map-marker-alt')
						span Partout à Montréal et sur la Rive-Sud
					a(href="tel:819-290-1203") 
						i.fas.fa-phone-square
						span 819-290-1203
		.apropos-banner(data-aos="fade-down" data-aos-easing="ease-in-out"  data-bg='/images/accueil/banner-apropos.jpg')
			//-(class="animateme" data-when="enter" data-from=".5" data-to="0" data-easing="easein"  data-translatex="100" data-opacity="0")
			.filter-right
			.content.container-fluid
				h2 À propos de 
					i C’est Chien!
				p Nous sommes une équipe d’intervenantes en comportement animal et entraîneuses, 
				p passionnées d’éducation canine et de dressage basé sur le renforcement positif.
				a(href='/apropos')
					button(type="button").btn.btn-primary En savoir plus


		.services: #services(data-aos="fade-down"  data-aos-easing="ease-in-out" )
			.container-fluid
				.title
					h2 Services offerts par 
						i C’est Chien!
				.row
					.col-sm-8.offset-sm-2.col-lg-4.offset-lg-0
						.card
							img(src="/images/accueil/services-layer/layer.svg" alt="Card image cap" class="svg-img card-bg")
							.card-content
								img(src="/images/services/ico/domicile.svg" alt="Services Domicile" class="svg-img ico")
								.card-body
									h2(class='card-title') Services à domicile
									ul.list-group
										li.list-group-item Cours d’obéissance
										li.list-group-item Consultations pour la gestion de problèmes de comportements
									a( href="/services?0301"): button(type="button" ).btn.btn-second  Lire plus
					.col-sm-8.offset-sm-2.col-lg-4.offset-lg-0
						.card
							img(src="/images/accueil/services-layer/layer2.svg" alt="Card image cap" class="svg-img card-bg")
							.card-content
								img(src="/images/services/ico/groupe.svg" alt="Cours Groupe" class="svg-img ico")
								.card-body
									h2(class='card-title') Cours de groupe
									ul.list-group
										li.list-group-item Maternelle (chiots de 2 à 4 mois)
										li.list-group-item Primaire <br> (chiens de 4 mois et plus)
									a( href="/services?0302"): button(type="button" ).btn.btn-second  Lire plus
					.col-sm-8.offset-sm-2.col-lg-4.offset-lg-0
						.card
							img(src="/images/accueil/services-layer/layer3.svg" alt="Card image cap" class="svg-img card-bg")
							.card-content
								img(src="/images/services/ico/prevention.svg" alt="Programme Prévention" class="svg-img ico")
								.card-body
									h2(class='card-title') Programme de prévention et ateliers
									ul.list-group
										li.list-group-item Prévention des morsures
										li.list-group-item Préparation du chien à l’arrivée d’un bébé
									a(href="/services?0303"): button(type="button" ).btn.btn-second  Lire plus
		.contacte(data-aos="fade-down"  data-aos-easing="ease-in-out"  data-bg='/images/accueil/contacte.jpg')
			.filter-left
			.content.container-fluid
				h2 Contactez 
					i C'est Chien !
				p Pour prendre rendez-vous ou pour toute autre demande
				//p n'hésitez pas à nous contacter! 
				//p.font-italic On mort pas!
				a(href='/contact')
					button(type="button").btn.btn-primary Écrivez-nous


	script.
		let cardBtn = document.querySelectorAll("#services .card");
		$( cardBtn ).click(function() {
			window.location.href = $(this).find('a').attr('href');
		});


