extends ../layouts/default
block meta
	title="C'est Chien ! - " + data.post.title
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="google-site-verification" content="T_HJ_RBkPsRXDfwVbLSh-R0wkpxoPnrRFRBAmaAFfRA")
	meta(name="keywords" content="Chien,Cours,Groupe,Canin,animal,prevention,ateliers")
	meta(name="title" content="C'est Chien ! - " + data.post.title)
	meta(name="author" content="C'est Chien !")
	meta(name="description" content=data.post.meta.description)
	meta(property="og:title" content=data.post.title)
	meta(property="og:image" content=data.post._.image.fit(1280,1280))
	meta(property="og:description" content=data.post.meta.description)
block content
	.container-fluid: .row: .col-md-12(data-aos="fade-down" data-aos-once='true' data-aos-easing="ease-in-out")
		article
			if !data.post
				h2 Invalid Post.
			else
				header
				if data.post.image.exists
					.image-wrap(data-bg=data.post._.image.fit(1280,1280))
				a.back(href='/blogue' class="btn btn-back")
					i.fas.fa-arrow-left 
					span retour
				.post-info
					if data.post.categories && data.post.categories.length
						each cat, cat_i in data.post.categories
							a(href='/blogue/' + cat.key)= cat.name
							if cat_i < data.post.categories.length - 1
								span.separator / 
					h5
						if data.post.publishedDate
							| #{data.post._.publishedDate.format('MMMM Do, YYYY')} 
				.post-content
					h1= data.post.title
					hr
					.post
						!= data.post.content.full
					hr
					if data.post.author
						p.author
							by &#8212; #{data.post.author.name.first}
