extends ../layouts/default

mixin servicesBlock-left(subtitle,content,content_extend, promo,price,time,color,colorLow,img)
    .services
        .row
            .col-lg-12
                .content( style='background:'+ color)
                    .row
                        .col-lg-6
                            .text
                                h2=subtitle
                                .asidePrice(style="color:"+color)
                                    h2=price
                                    p=time
                                .sub-text
                                    p=content
                                    p=content_extend
                                if (promo)
                                    p.promo
                                        b=promo
                                a(href='/contact')
                                    button.btn-primary(style="color:"+color) Contactez-nous
                        .col-lg-6.col-xs-12.asideImage(data-bg=img)

mixin servicesBlock-right(price,time,subtitle,content,content_extend,color,colorLow,img)
    .services
        .row
            .col-lg-12
                .content( style='background:'+ color )
                    .row
                        .col-lg-6.col-xs-12.asideImage.xs-column-reverse(data-bg=img)
                        .col-lg-6
                            .text
                                h2=subtitle
                                .asidePrice(style="color:"+color)
                                    h2=price
                                    p=time
                                .sub-text
                                    p=content
                                    p=content_extend
                                if (promo)
                                    p.promo
                                        b=promo
                                a(href='/contact')
                                    button.btn-primary(style="color:"+color +" !important") Contactez-nous


block content
    //------------------------------------------------------//
    #services
        .container-fluid.section(data-aos="fade-down"  data-aos-easing="ease-in-out" )#0301 
            .row
                h2.title(style="color:rgba(0, 84, 26, 1)") SERVICES À DOMICILE
                +servicesBlock-left(
                    'Cours d\'obéissance',
                    'Afin de vous apporter tous les outils nécessaires pour favoriser l’apprentissage de votre chien, nous vous proposons des cours d\'obéissance directement à votre domicile.',
                    'Vous souhaitez que votre compagnon maîtrise les commandements de base (assis, couché, viens, reste, etc.) dans n’importe quel contexte? Vous désirez lui apprendre des commandements plus élaborés ou amusants? Qu’il soit chiot, adolescent ou adulte, votre chien aura toujours soif d’apprendre, alors contactez-nous pour un accompagnement personnalisé.',
                    'Nous offrons des promotions à l’achat de trois cours ou plus.',
                    '80-100$',
                    '1 heure',
                    'rgba(0, 84, 26, 1)',
                    'rgba(0, 84, 26, .8)',
                    '/images/services/coursob.jpg')

                +servicesBlock-right(
                    '135-150$',
                    'durée flexible',
                    'Consultations pour la gestion de problème de comportement',
                    'Nous offrons des consultations afin de régler les problèmes de comportement de votre chien. Fido tire en laisse? Lady préfère rester avec ses amis plutôt que de venir vous voir lorsque vous l’appelez au parc à chien? Jack saute sur vos invités? Rex jappe et réagit aux chiens qu’il rencontre?',
                    'Peu importe ce qui vous irrite, il nous fera plaisir de vous proposer des solutions concrètes qui correspondent à vos valeurs et privilégient le renforcement positif. Nous nous engageons également à offrir un suivi après notre première rencontre.', 
                    'rgba(0, 84, 26, 1)',
                    'rgba(0, 84, 26, .8)',
                    '/images/services/gestioncomp.jpg')
    //------------------------------------------------------//
    #services
        .container-fluid.section(data-aos="fade-down"  data-aos-easing="ease-in-out")#0302
            h2.title(style="color:#1e7e34") COURS DE GROUPE
            +servicesBlock-left(
                'Cours de maternelle (chiots de 2 à 4 mois)',
                'Vous venez de vous procurer un chiot, mais on a oublié de vous livrer le mode d’emploi? Vous souhaitez lui offrir une socialisation sans embûche? Venez-vous amuser avec votre nouveau compagnon lors de cours captivants et instructifs donnés dans une atmosphère axée sur le plaisir.',
                'Vous y apprendrez les rudiments de la communication animale, les commandements de base ainsi que plusieurs trucs et astuces pour une éducation réussie. Bienvenue à toute la famille!',
                '',
                '170$',
                '4 cours de 1 heure',
                '#1e7e34',
                '#1e7e34',
                '/images/services/coursmat.jpeg')
            +servicesBlock-right(
                '225$',
                '5 cours de 1 heure',
                'Cours primaires (chiens de 4 mois et plus)',
                'Ce cours vise à vous permettre de capter l’attention de votre chien facilement dans le but de favoriser ses apprentissages. Ainsi, vous préviendrez d’éventuels problèmes de comportement. Vous y apprendrez les outils et les techniques de base de l’entraînement et du dressage tels que l’apprentissage en 3D, le renforcement positif et le conditionnement du mot «yes».',
                ' Ce cours permettra également à votre chien de poursuivre une socialisation positive dans un environnement contrôlé.', 
                '#1e7e34',
                '#1e7e34',
                '/images/services/coursprim.jpg')
        //------------------------------------------------------//
        #services
        .container-fluid.section(data-aos="fade-down"  data-aos-easing="ease-in-out")#0303
            h2.title(style="color:rgba(0, 84, 26, 1)") PROGRAMME DE PRÉVENTION ET ATELIERS
            +servicesBlock-left(
                'Ateliers de prévention des morsures',
                'Les spécialistes du comportement animal et les éducateurs canins s’entendent pour dire que la plupart des morsures surviennent dans des contextes prévisibles. C’est pour cela que nous souhaitons aviser la population des signes précurseurs des attaques et des moyens de les éviter.',
                'Nous adaptons cet atelier aux petits et grands qui se soucient de cet enjeu d’une grande importance. Nous invitons les institutions à nous contacter pour de plus amples détails.',
                '',
                'Prix variable',
                'durée flexible',
                'rgba(0, 84, 26, 1)',
                'rgba(0, 84, 26, .8)',
                '/images/services/morsure.jpg')
            +servicesBlock-right(
                '135-150$',
                'durée flexible',
                'Préparation du chien à l’arrivée d’un bébé',
                'Il ne faut pas négliger l’impact que peut avoir sur le chien l’arrivée d’un nouveau membre dans la famille. Que ce soit pour vous ou votre compagnon poilu, ce changement peut être une grande source de joie, mais aussi de soucis et de doutes.',
                'Nous vous invitons à venir récolter les outils et les techniques qui faciliteront cette transition. N’attendez pas qu’il soit trop tard et contactez-nous! Il nous fera plaisir de vous rencontrer individuellement ou en groupe.', 
                'rgba(0, 84, 26, 1)',
                'rgba(0, 84, 26, .8)',
                '/images/services/arrivebebe.jpg')
