mixin page-title(h1Content,h2Content, imgURL)
    .container-fluid
        .pageTitle-banner(data-bg=String(imgURL) data-aos="fade-down"  data-aos-easing="ease-in-out" )
            .filter-left
            .content.container-fluid.row
                .col-lg-6.col-md-12
                    h1=h1Content
                    h2=h2Content
                if h1Content == "CONTACTEZ-NOUS"
