include ../mixins/flash-messages
include ../mixins/page-title
include ../mixins/loader

<!DOCTYPE html>
html

	//- HTML HEADER
	head
		script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-128920677-1')
		script.
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
				gtag('config', 'UA-128920677-1');

		block meta
			title="C'est Chien ! - " + title
			meta(charset="utf-8")
			meta(name="viewport", content="width=device-width, initial-scale=1.0")
			meta(http-equiv="X-UA-Compatible" content="IE=edge")
			meta(name="google-site-verification" content="T_HJ_RBkPsRXDfwVbLSh-R0wkpxoPnrRFRBAmaAFfRA")
			meta(name="keywords" content="Chien,Cours,Groupe,Canin,animal,prevention,ateliers")
			meta(name="title" content="C'est Chien ! - " + title)
			meta(name="author" content="C'est Chien !")
			meta(name="description" content=description)
			meta(property="og:title" content="C'est Chien ! - " + title)
			meta(property="og:image" content="https://cestchien.ca/images/accueil/banner-intro.jpg")
			meta(property="og:description" content=description)
		//-link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")
	
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.1.3/hamburgers.min.css")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
		link(href="/styles/site.css", rel="stylesheet")
		
		script(src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js")
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='/js/bundle.js')

	//- HTML BODY
	body
 
		block navigation
			#header: .container-fluid
				if user && user.canAccessKeystone
					.admin-layout
						li Connected as <b>#{user.name.first}</b>
						li: a(href='/keystone') Open Keystone
						li: a(href='/keystone/signout') Sign Out
				else
					.admin-layout
						li No connection
						li: a(href='/keystone/signin') Sign in		
				nav.navbar.navbar-expand-lg(data-aos="fade-down")
					a(href='./').navbar-brand
						img( alt="C'est chien !" src='/images/logo-long.svg', width='160').logo.svg-img
					button.hamburger.hamburger--slider.navbar-toggler(type='button')
						span.hamburger-box
							span.hamburger-inner

					.collapse.navbar-collapse
						ul.navbar-nav.ml-auto
							each link in navLinks
								a.mainNav(href=link.href): li.nav-item.nav-link(class=(section == link.key ? 'active' : null ))=link.label

		#menu 
			.a-nav
				each link in navLinks
					a(href=link.href): li.nav-item.nav-link(class=(section == link.key ? 'active' : null ))
						i(class=link.classIcon)
						span=link.label


		//- BODY
		#body
			//- NOTE:
			//- There is no .container wrapping class around body blocks to allow more flexibility in design.
			//- Remember to include it in your templates when you override the intro and content blocks!

			//- The Intro block appears above flash messages (used for temporary information display)
			block intro
			//- Flash messages allow you to display once-off status messages to users, e.g. form
			//- validation errors, success messages, etc.
			+flash-messages(messages)

			//- The content block should contain the body of your template's content
			block content


			//- FOOTER
			block footer
				.container-fluid(data-aos="fade-in"  data-aos-easing="ease-in-out" ): #footer
					.row.top-section-footer
						.footer-brand.col-lg-6.col-md-12
							a(href='./')
								img(src='/images/logo-long.svg').svg-img-brand
						.info-right.col-lg-6.col-md-12
							.contact-info
								h3 Appelez-nous
								a(href="tel:819-290-1203") 819-290-1203
							.social
								a(href="https://www.facebook.com/compagniecestchien/" target="_blank")
									i(class="fab fa-facebook-square")
								a(href='https://www.instagram.com/compagniecestchien/' target='_blank')
									i(class="fab fa-instagram")
							.sub-navigation
								nav.navbar-expand-lg
									ul.navbar-nav.ml-auto
										each link in navLinks
											a(href=link.href): li.nav-item.nav-link(class=(section == link.key ? 'active' : null ))=link.label
					hr
					.copyright
						h3 C'est Chien! © 
							a( target='_blank' href='https://barrymind.ca/').job John Barry  
							span - Tous droits réservés.



			block js
			










