.accueil {


	.intro-banner {
		display: table;
		height: 750px !important;
		margin-top: 30px;
		width: 100%;

		.numero-nav {

			text-align: center;
			font-size: 22px;
			font-weight: 500;
			color: white;
			margin-top: 100px;

			a {
				display: inline-block;
				color: white;
				padding: 5px 22px 5px 22px;
				text-decoration: none;

			}

			a span {
				transition: $cubic-bezier-6;
				border-bottom: 2px solid rgba(255, 255, 255, 0);
			}

			a:not(:nth-child(1)):hover span {
				border-bottom: 2px solid white;
			}

			i {
				padding-right: 10px;
			}

			h3 {

				i {
					padding-right: 10px;
				}

			}

		}


		.backstretch img {
			transform: scale(1.2, 1.2)
		}

		.content {
			border-radius: 10px !important;
			text-align: center;
			display: table-cell;
			vertical-align: middle;
			height: 750px !important;
			padding: 50px 0px 50px 0px;

			h1 {
				padding: 0px;
				color: white;
				font-weight: 800;
				font-size: 65px;
				margin: 0;
			}

			h2 {
				margin: 0;
				color: white;
				font-weight: 300;
				font-size: 40px;
			}

		}
	}

	/*----------------------------------------------------------------*/

	.apropos-banner {
		margin: 50px 0px 35px 0px !important;

		.content {
			border-radius: 10px !important;
			text-align: right;
			padding: 80px 100px 80px 0px;
			transform: matrix(1, 0, 0, 1, 0, 0);

			h2 {
				color: white;
				font-weight: 800;
				font-size: 30px;
			}

			p {
				margin: 0;
				color: white;
				font-size: 20px;
			}

			button {
				margin-top: 35px;
			}
		}
	}


	/*----------------------------------------------------------------*/

	.services {


		box-shadow: none !important;
		margin-top: 80px !important;

		.title h2 {
			color: $main-color;
			text-align: center;
			font-weight: bold;
			font-size: 35px;
			margin-bottom: 35px;
			text-transform: uppercase;
		}
	}

	a {
		text-decoration: none;

	}

	.card {
		display: block;
		overflow: hidden;
		position: relative !important;
		z-index: 1;
		//margin: 40px 0px 40px 0px;
		min-height: 700px;
		width: 100%;
		height: 250px;
		padding: 30px 20px 30px 20px;
		border-radius: $border-radius-high;
		//border: 1px solid $main-color;
		text-align: center;
		transition: $cubic-bezier-3;
		color: $main-color;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		border: none !important;

		h2 {
			color: rgba(0, 0, 0, 0.8);
			font-size: 20px;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: 700;
			padding: 0;
			margin: 0;
		}

		.card-bg {
			position: absolute;
			top: 0; //or whatever position from top
			left: 0;

			//min-height: 850px !important;
			height: 925px;
			z-index: -1;
			transition: $cubic-bezier-6;


			path {
				transition: $cubic-bezier-6;
			}
		}

		.ico {
			margin: 80px 0px 0px 0px;
			width: 132px;
			transition: $cubic-bezier-6;

			path {
				transition: $cubic-bezier-6;
				fill: $main-color;
			}
		}

		.card-body {
			ul {
				padding: 50px 0px 50px 0px;
				font-size: 14px;
				font-weight: 600;
				text-align: center;
				color: $main-color;
				text-transform: uppercase;
			}

			.list-group .list-group-item {
				padding: 20px 0px 20px 0px;
				border-radius: 0px;
				border-left: 0px !important;
				border-right: 0px !important;
				background: none;
			}
		}

	}

	.card:hover {
		//background-size: 130%;
		cursor: pointer;
		border: none;
		box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
		color: white !important;
	}

	.card:active {
		//background-size: 130%;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	}

	.card:hover {
		ul {
			color: $main-color-second;
		}

		.card-bg {
			transform: scale(1.1, 1.1);
		}

		.ico {
			width: 120px;
		}

		.btn-second {
			border: none;
			background-color: $main-color-second !important;
			color: white !important;
			box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
		}

		.ico path {
			fill: $main-color-second;
		}

		.card-bg path {
			fill: $main-color-second;
		}
	}

	/*----------------------------------------------------------------*/

	.contacte {

		margin-bottom: 80px;

		.content {
			border-radius: 10px !important;
			text-align: center;
			padding: 50px 100px 50px 100px;
			transform: matrix(1, 0, 0, 1, 0, 0);

			h2 {
				color: white;
				font-weight: 800;
				font-size: 35px;
			}

			p {
				margin: 0;
				color: white;
				font-size: 22px;
			}

			.font-italic {
				color: white;
				font-size: 20px;
				padding-top: 20px;
				font-style: italic;
			}

			button {
				color: rgba(18, 23, 46, 1) !important;
				margin-top: 35px;
			}
		}
	}

}

@media (max-width: 992px) {
	.accueil {

		.card:hover .card-bg {
			transform: scale(1.2, 1.2) !important;
		}

		.card {
			margin: 25px 0px 25px 0px;
		}

		.card-bg {

			//width: 100%;
			transform: scale(1.4, 1);
			height: 100%;
		}


		.intro-banner {
			margin-top: 10px;

			.content {
				h1 {
					font-size: 52px;
				}

				h2 {
					font-size: 25px;
				}

				text-align: center !important;
			}

			.numero-nav {


				a {
					display: block;
					padding: 10px;
				}


			}
		}

		.apropos-banner {
			.content {
				padding: 100px 50px 100px 50px !important;
				text-align: center !important;
			}
		}

		.services {
			padding-bottom: 0px !important;
			margin: 0px !important;
		}

		.contacte {
			margin: 0px !important;

			.content {
				padding: 100px 50px 100px 50px !important;
				text-align: center !important;
			}
		}
	}
}

@media (max-width: 768px) {}
