.apropos {

	//- HEADER --------------------------------
	.header {
		margin: 50px 0px 50px 0px !important;

		.backstretch img {
			//filter: blur(2px);
			transform: scale(1.2, 1.2) !important;
		}

		.filter {
			border-radius: $border-radius !important;
			z-index: -2;
			position: absolute;
			width: 100% !important;
			height: 100%;
			background: rgba(12, 17, 36, 0.6);
			opacity: 1;
		}

		//margin:50px 0px 50px 0px !important;

		.content {
			border-radius: $border-radius !important;
			//padding: 80px 0px 80px 100px;
			transform: matrix(1, 0, 0, 1, 0, 0);
			padding: 50px 0px 0px 0px;
			overflow: hidden;

			h1 {
				padding: 60px 60px 60px 100px;
				color: rgb(255, 255, 255);
				font-weight: 800;
				text-transform: uppercase;
				font-size: 40px;
			}

			.top-tag {
				background: $main-color-fourth;
				border-radius: 0px $border-radius-high $border-radius-high 0px;
				padding: 35px 100px 35px 100px;
				max-width: 72%;
				display: inline-block;

				p {
					margin: 0;
					color: white;
					font-size: 32px;
					font-weight: 800;
				}
			}

			.text-tag {
				max-width: 84%;
				padding: 80px 100px 80px 100px;

				p,
				span {
					margin: 0;
					color: white;
				}

				p:nth-child(1) {
					font-size: 22px;
					font-weight: 600;
				}

				p:nth-child(2) {
					padding: 45px 0px 10px 0px;
					margin: 0;
					font-size: 18px;
					font-weight: 500;
				}

				p:nth-child(3),
				p:nth-child(4) {
					margin: 0;
					padding-bottom: 20px;
					color: white;
					font-size: 22px;
				}
			}
		}
	}

	//- SUB-CONTENT --------------------------------
	.sub-content {
		margin: 50px 0px 50px 0px !important;

		.backstretch img {
			//filter: blur(2px);
			transform: scale(1.2, 1.2) !important;
		}

		.filter {
			border-radius: $border-radius !important;
			z-index: -2;
			position: absolute;
			width: 100% !important;
			height: 100%;
			background: rgba(12, 17, 36, 0.6);
			opacity: 1;
		}

		//margin:50px 0px 50px 0px !important;

		.content {
			border-radius: $border-radius !important;
			//padding: 80px 0px 80px 100px;
			transform: matrix(1, 0, 0, 1, 0, 0);
			padding: 100px;

			.top-tag {


				p {
					margin: 0;
					color: white;
					font-size: 32px;
					font-weight: 800;
				}
			}

			.text-tag {

				p,
				span {
					margin: 0;
					color: white;
				}

				p:nth-child(1) {
					font-size: 18px;
					font-weight: 600;
					padding-top: 36px;
				}

				p:nth-child(2) {
					padding: 10px 0px 10px 0px;
					margin: 0;
					font-size: 22px;
					font-weight: 400;
				}
			}

			.aside-tag {
				p {
					padding-top: 50px;
					margin: 0;
					color: white;
					font-size: 42px;
					font-weight: 800;
					line-height: 52px;
				}

				hr {
					float: left;
					width: 6%;
					border-bottom: 10px solid white;
				}
			}
		}

	}

	//- LAST-CONTENT --------------------------------
	.last-content {

		margin: 100px 0px 25px 0px;
		padding: 30px;

		.backstretch img {
			//filter: blur(2px);
			transform: scale(1.2, 1.2) !important;
		}

		.content {
			.maps {
				position: relative;
				//padding: 165px;
				min-height: 350px !important;
				width: 100% !important;
				margin-bottom: 50px;
			}

			.aside-text {
				padding: 25px 0px 25px 0px;

				p:nth-child(1) {
					font-size: 42px;
					font-weight: 800;
					line-height: 45px;
					color: #232323;
				}

				hr {
					float: left;
					width: 6%;

					padding: 0;
					border-bottom: 10px solid #232323;
				}

				p:nth-child(3) {
					padding-top: 50px;
					font-size: 20px;
					font-weight: 400;
					color: $main-color;
				}
			}
		}
	}
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {


	.apropos {
		.last-content {

			margin: 80px 0px 0px 0px !important;
		}

		hr {
			float: none !important;
			width: 6%;
		}

		.content {
			text-align: center;



			h1 {

				padding: 80px 0px 80px 0px !important;
			}

			.text-tag {
				max-width: 100% !important;
				padding: 50px 20px 50px 20px !important;

				p:nth-child(1) {
					font-size: 18px !important;
				}

				p:nth-child(3),
				p:nth-child(4) {
					font-size: 18px !important;
				}
			}

			.top-tag {
				border-radius: 0px !important;
				//padding: 35px !important;
				max-width: 100% !important;
				padding: 20px !important;

				p {
					font-size: 20px !important;


				}
			}
		}
	}

	.sub-content {
		.content {
			padding: 60px 40px 60px 40px !important;

			.text-tag {

				p:nth-child(1) {
					padding: 0 !important;
				}
			}

			.aside-tag {
				p {
					font-size: 28px !important;
					padding-top: 0 !important;
					line-height: initial !important;
				}

			}
		}
	}

	.last-content {
		margin: 150px 0px 150px 0px !important;

		.content {


			.aside-text {
				padding: 0 !important;
				text-align: center !important;

				p:nth-child(3) {
					padding-top: 25px !important;
				}
			}
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {}


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {}
