.blog-content {
	.post {
		opacity: 0;
	}

	.nav {
		.active {
			color: $main-color !important;
		}

		.nav-link:not(.active) {
			transition: $cubic-bezier-6 !important;
			color: gray;
			opacity: .8
		}

		.nav-link:not(.active):hover {
			opacity: 1;
		}

	}

	.text-muted {
		text-align: center;
		padding: 200px 0px 200px 0px;
		margin: 100px 0px 100px 0px;
		border: 4px dashed rgba(0, 0, 0, 0.05);
		font-size: 22px;
		color: rgb(192, 192, 192);
		font-weight: 400 !important;
	}

	.blog-post {

		padding: 25px 0px 100px 0px;
		z-index: 1;

		.filter-post {
			z-index: -2;
			position: absolute;
			width: 100% !important;
			height: 100%;
			opacity: 1;
		}

		.card {
			//min-height: 450px;
			overflow: hidden;
			position: relative;

			z-index: 1;
			transition: $cubic-bezier-6 !important;
			border-radius: $border-radius-high !important;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
			border: none !important;

			//margin-bottom: 25px !important;
			.card-title {
				margin-bottom: 16rem;
			}

			.card-img-top {
				transition: $cubic-bezier-6;
				object-fit: cover;
				//filter: blur(1px);
				position: absolute;
				width: 125%;
				height: 100%;
				z-index: -3;
			}

			.card-body {
				margin: 10px;
				padding: 25px 20px 60px 20px;
				text-align: left;

				.categories-nav {
					.categories {
						//transition: opacity .3s cubic-bezier(.25, .8, .25, 1);
						text-transform: uppercase;
						font-size: 12px;
						opacity: 0.6;
						font-weight: 500;
						color: white;
						text-decoration: none;
						padding-right: 5px;
					}

					.separator {
						opacity: 0.6;
						color: white !important;
					}

					.categories:hover {
						opacity: .5;
					}
				}

				.lead {
					color: white !important;
					font-size: 16px;
					padding: 0;
					margin: 0;
					font-weight: 500;
					opacity: 0.8;
				}

				h5 {
					font-size: 38px;
					color: white;
					font-weight: 700;
					padding-top: 5px;

				}

				p {
					color: white;
					font-size: 15px;
					opacity: 0.9;
					padding-bottom: 10px;
					font-weight: 500;
				}

				.card-text {
					padding: 0;
				}
			}

		}

		.card:hover {
			cursor: pointer;
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
		}

		.card:hover .card-img-top {
			width: 115%;

		}

		.card:hover .btn-blog {
			box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)
		}
	}
}

@media (min-width: 576px) {
	.card-columns {
		column-count: 1;
	}
}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
	.card-columns {
		column-count: 2;
	}

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.card-columns {
		column-count: 3;
	}

}
