//----------------------btn override
.btn-primary {
	background-color: white;
	//border:0px solid rgb(248, 248, 248);
	border-radius: $border-radius;
	transition: $cubic-bezier-3;
	color: $main-color !important;
	font-weight: bold;
	padding: 10px 50px 10px 50px;
	font-size: 18px;
	border: none !important;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
}

.btn-primary:hover {
	background-color: white;
	padding-right: 30px;
	padding-left: 30px;
	//box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;

}

.btn-primary:active {
	box-shadow: none;
	background-color: rgb(255, 255, 255) !important;
	box-shadow: none !important;
}

.btn-primary:focus {
	background-color: rgb(255, 255, 255);

	outline: 0 !important;
}

.btn-primary:visited {
	outline: 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
	background-color: white !important;
}

//----------------------btn override
.btn-second {
	background-color: white !important;
	border: 1px solid $main-color;
	transition: $cubic-bezier-3;
	color: $main-color !important;
	border-radius: $border-radius;
	font-weight: 700;
	text-transform: uppercase;
	padding: 15px 50px 15px 50px;
	font-size: 18px;
}

.btn-second:hover {
	background-color: $main-color !important;
	padding-right: 60px;
	padding-left: 60px;
}

.btn-second:active {
	box-shadow: none;
	background-color: white !important;
	box-shadow: none !important;
}

.btn-second:focus {
	background-color: white !important;
	outline: 0 !important;
}

.btn-second:visited {
	outline: 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
	background-color: white !important;
}

//----------------------btn override
.btn-blog {
	background-color: white !important;
	transition: $cubic-bezier-3;
	//color: $main-color-second !important;
	border-radius: $border-radius;
	border: 2px solid rgba(255, 255, 255, 0);
	font-weight: 700;
	text-transform: uppercase;
	padding: 8px 22px 8px 22px;
	font-size: 14px;
	outline: 0 !important;
	position: absolute;
	bottom: 40px;
	left: 40px;
}

.btn-blog:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
	padding-right: 28px;
	padding-left: 28px;
}

.btn-blog:active {
	background-color: rgba(0, 0, 0, 0) !important;
	color: white !important;
	box-shadow: none !important;
	border: 2px solid white;
	outline: 0 !important;
}

.btn-blog:focus {
	outline: 0 !important;
}

.btn-blog:visited {
	outline: 0 !important;
}

//----------------------btn override
.form-submit {
	.disabled {
		opacity: 0.5;
		cursor: not-allowed;
		background-color: rgb(143, 143, 143) !important;
		outline: 0 !important;
	}
}

.btn-submit {
	background-color: $main-color;
	transition: $cubic-bezier-3;
	color: white !important;
	border-radius: $border-radius;
	border: 2px solid rgba(255, 255, 255, 0);
	font-weight: 700;
	text-transform: uppercase;
	padding: 12px 28px 12px 28px;
	font-size: 16px;
	outline: 0 !important;
}

.btn-submit:not(.disabled):hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
	background-color: $main-color-second;
	padding-right: 40px;
	padding-left: 40px;
	outline: 0 !important;
}

.btn-submit:not(.disabled):active {
	background-color: $main-color-second;
	color: white !important;
	box-shadow: none !important;
	outline: 0 !important;
}

.btn-submit:not(.disabled):focus {
	outline: 0 !important;
}

.btn-submit:not(.disabled):visited {
	outline: 0 !important;
}


//----------------------btn override
.btn-back {
	color: $main-color-second;
	transition: $cubic-bezier-3;
	padding: 0;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	outline: 0 !important;

	i {
		padding-right: 10px;
	}
}

.btn-back:hover {
	padding-left: 5px;
	color: $main-color;
}

.btn-back:active {
	opacity: .5;
	outline: 0 !important;
}

.btn-back:focus {
	outline: 0 !important;
}

.btn-back:visited {
	outline: 0 !important;
}
