.form-title {
	h1 {
		font-size: 18px;
		color: $main-color;
	}

	i {
		padding-right: 10px;
	}

	padding:15px 0px 12px 15px;
}

form {

	//padding: 25px;
	border-radius: $border-radius;

	font-size: 14px;
	text-transform: uppercase;
	transition: $cubic-bezier-3;

	.errorMess {
		text-transform: initial !important;
		display: none;
		font-size: 12px;
		padding-top: 10px !important;
		color: red;
	}

	.form-group {
		padding: 10px 0px 10px 0px;
	}

	label {
		font-size: 14px;
		font-weight: 600;
		opacity: 0.3;
	}

	label {
		i {
			padding-right: 8px;
		}
	}

	input[type=text],
	input[type=email] {

		border-top: none !important;
		border-left: none !important;
		border-right: none !important;
		border-bottom: 1 px solid gray;
		border-radius: 0px !important;
		padding-left: 0px !important;
		transition: $cubic-bezier-3;
	}

	input[type=text]:focus,
	input[type=email]:focus {
		padding-left: 10px !important;

	}

	select[type=text] {
		color: #495057;
		border-top: none !important;
		border-left: none !important;
		border-right: none !important;
		border-bottom: 1 px solid gray;
		border-radius: 0px !important;
		padding: 0px !important;
		text-align: left;
		transition: $cubic-bezier-3;
	}

	select[type=text]:focus {
		padding-left: 10px !important;

	}

	textarea[type=textarea] {
		transition: $cubic-bezier-3;
	}

	textarea[type=textarea]:focus {
		padding: 20px 0px 0px 20px !important;
	}
}

.contact-box {
	h1 {
		font-size: 25px;
		font-weight: 700;
	}
}
