/*----------------------------------------------------------------*/
#footer {
	text-align: center;

	//margin: 150px 0px 50px 0px;
	//position: relative;
	.top-section-footer {
		padding: 25px 0px 80px 0px
	}

	.footer-brand {

		margin: 0;

		img {
			position: relative;
			top: 33%;
			width: 300px !important;
		}


	}

	.contact-info {

		text-align: left;

		h3 {
			font-size: 17px;
			text-transform: uppercase;
			font-weight: bold;
			padding-bottom: 25px;
		}

		a {
			display: inline-block;
			font-weight: 600;
			color: white;
			font-size: 16px;
			padding: 6px 18px 6px 18px;
			margin-right: 14px;
			border-radius: $border-radius-min;
			border: 2px solid rgba(255, 255, 255, 0);
			background: $main-color;
			transition: $cubic-bezier-3;
			text-decoration: none;

			span {
				font-weight: 400;
			}
		}

		a:hover {
			cursor: pointer;
			background: rgba(255, 255, 255, 0);
			border: 2px solid $main-color;
			color: $main-color;

		}
	}

	.social {
		text-align: left;
		padding: 22px 0px 22px 0px;

		i {
			font-size: 34px;
			color: $main-color;
			margin-right: 10px;
			transition: $cubic-bezier-3;
		}

		i:hover {
			opacity: .6;
			cursor: pointer;
		}
	}

	.sub-navigation {
		li {
			font-size: 14px;
			padding: 0;
			margin: 0px 25px 0px 0px;
			color: #303030 !important;
			font-weight: 500;
			transition: $cubic-bezier-6;
			text-align: left;
			border-bottom: 2px solid rgba(255, 255, 255, 0);
			letter-spacing: 2px;

		}

		.active {
			border-bottom: 2px solid rgba(48, 48, 48, .3);
		}

		a {
			text-decoration: none;
		}

		li:hover {
			cursor: pointer;
			border-bottom: 2px solid $main-color;
		}
	}

	.copyright {
		padding: 80px 0px 25px 0px;

		h3:not(.job) {
			color: #8f8f8f;
			font-size: 14px !important;
			font-weight: 400;
		}

		.job {
			text-decoration: none;
			color: $main-color;
			transition: $cubic-bezier-6;
		}

		.job:hover {
			opacity: .5;
		}
	}
}

@media (max-width: 992px) {
	#footer {
		.footer-brand {
			img {
				top: 0;
				padding: 25px;
				//width: 350px !important;
			}
		}

		.contact-info,
		.social,
		.sub-navigation {
			text-align: center !important;
		}



		.contact-info {
			margin: 20px 0px 20px 0px;

			h3 {
				margin: 0;
			}

			p {
				margin: 5px;
			}

			a {
				margin: 10px 10px 10px 10px;
			}
		}

		.social {
			i {
				padding: 5px;
				font-size: 40px;
			}
		}

		.sub-navigation {
			display: none;



			a {
				margin: 5px !important;


			}

			li {
				text-align: center;
				padding: 10px !important;
				font-size: 18px;
				margin: 0;

			}

		}

	}

}
