body {
	font-family: 'Roboto', sans-serif !important;

}

body[data-aos-duration='4000'] [data-aos],
[data-aos][data-aos][data-aos-duration='4000'] {
	-webkit-transition-duration: 4000ms;
}

#body {
	position: relative;
}

html {
	scroll-behavior: smooth;
}

#error {
	text-align: center;

	.container {
		position: relative;
		top: 100px;
	}

	.filter {
		opacity: .7 !important;
		background: $main-color;
	}

	.content {

		padding: 30px;
	}

	h1 {
		color: $main-color;
		font-size: 62px;
		font-weight: 500;
	}

	p {
		color: $main-color;
		font-size: 32px;
		font-weight: 400;
	}

	.btn {
		margin: 20px 0px 20px 0px !important;
		background-color: $main-color;
		color: white !important;
	}

	.btn:active {
		border: 2px solid $main-color !important;
		color: $main-color !important;
	}

}


/*---------------------------------------*/
.container-fluid {
	max-width: $container-size;
}

.filter-left {
	border-radius: $border-radius !important;
	z-index: -2;
	position: absolute;
	width: 100% !important;
	height: 100%;
	//background: -moz-linear-gradient(-45deg, rgba(0, 84, 26, 1) 0%, rgba(0, 84, 26, 0) 100%);
	//background: -webkit-linear-gradient(-45deg, rgba(0, 84, 26, .8) 0%, rgba(0, 84, 26, 0) 100%);
	//background: linear-gradient(135deg, rgba(0, 84, 26, .8) 0%, rgba(0, 84, 26, 0) 100%);
	background: rgba(18, 23, 46, 0.7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00541a', endColorstr='#0000541a', GradientType=1);
	opacity: 1;
}

.filter-right {
	border-radius: $border-radius !important;
	z-index: -2;
	position: absolute;
	width: 100% !important;
	height: 100%;
	background: -moz-linear-gradient(-45deg, rgba(0, 84, 26, 0) 0%, rgba(0, 84, 26, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(0, 84, 26, 0) 0%, rgba(0, 84, 26, 1) 100%);
	background: linear-gradient(135deg, rgba(0, 84, 26, 0) 0%, rgba(0, 84, 26, 1) 100%);
	//background: rgba(0, 84, 26, .6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000541a', endColorstr='#00541a', GradientType=1);
	opacity: 1;
}

.filter {
	border-radius: $border-radius !important;
	z-index: -2;
	position: absolute;
	width: 100% !important;
	height: 100%;
	background: rgba(12, 17, 36, 0.5);
	opacity: 1;
}

#header {
	margin-top: 45px;

}

.alert {

	i {
		padding-left: 10px;
		transition: $cubic-bezier-3;
	}

}


.alert:hover i {
	transform: rotate(360deg);
}

.admin-layout {
	display: none;
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;

	width: 100%;
	background: rgb(248, 248, 248);

	li {
		font-size: 12px;
		float: left;
		text-decoration: none;
		list-style-type: none;
		padding: 5px 10px 5px 10px;
	}
}

.gallery-image img {
	display: block;
	max-width: 100%;
	height: auto;
}

.backstretch {
	border-radius: $border-radius;
}


.accueil>div {
	//margin: 0px 0px 50px 0px;
}

.pageTitle-banner {
	.content {
		padding: 60px 0px 60px 50px;
		margin: 25px 0px 50px 0px;
		color: white;
		text-align: left;
	}


	h1 {
		text-transform: uppercase;
		font-weight: 800;
	}

	h2 {
		font-size: 20px;
		font-weight: 400;
	}

	.contact-info {
		//margin-top: 18px;
		text-align: right;

		a {
			display: inline-block;
			font-weight: 700;
			color: white;
			font-size: 18px;
			padding: 10px 18px 10px 18px;
			margin: 0px 10px 0px 10px;
			margin-top: 15px;
			border-radius: $border-radius-min;
			border: 2px solid white;
			background: rgba(255, 255, 255, 0.2);
			transition: $cubic-bezier-3;
			text-decoration: none;
		}

		a:hover {
			cursor: pointer;
			transform: translateY(5px);
			background: rgba(255, 255, 255, 0);


		}
	}
}



.svg-img path {
	fill: $main-color;
	stroke: rgba(0, 0, 0, 0) !important;
	stroke-width: 0px !important
}

.svg-img-brand path {
	fill: $main-color;
	stroke: rgba(0, 0, 0, 0) !important;
	stroke-width: 0px !important
}

.cls-1 {
	stroke: rgba(0, 84, 27, 0) !important;
	stroke-width: 0px !important;
}



@media (max-width: 1200px) {}

@media (max-width: 992px) {


	.pageTitle-banner {
		.content {
			.contact-info {
				text-align: left;
			}
		}
	}


}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
	.pageTitle-banner {
		.content {
			text-align: center !important;
			padding: 60px 0px 60px 0px !important;

			.contact-info {
				margin-top: 25px;
				text-align: center !important;

				a {
					margin-top: 15px;
				}
			}

		}

	}

	.card {
		margin: 25px 0px 45px 0px;
	}

	.card:hover .card-bg {

		transform: scale(1.2, 1.2) !important;
	}
}



// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {}
