/*should match the above value*/
.hamburger {
	transform: scale(.7, .7);

	.hamburger-box {
		.hamburger-inner {
			top: 25% !important;

		}

		.hamburger-inner,
		.hamburger-inner:after,
		.hamburger-inner:before {
			border-radius: 10px;
			background-color: $main-color !important;
		}
	}
}

/* Sidebar Menu */
#menu {
	background: $main-color-second;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	position: fixed;
	left: -15.625em;
	z-index: 99999;
	/*left or right and the width of your navigation panel*/
	width: 15.625em;



	.a-nav {
		a {
			color: white;
			font-size: 18px;
			text-decoration: none !important;

		}

		li {
			transition: $cubic-bezier-3;
			padding: 25px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);

			i {
				font-size: 18px;
				padding-right: 10px;
			}
		}

		a:hover li {
			background-color: white !important;
			color: $main-color-second;
			padding-left: 35px;
		}

		.active {
			background-color: $main-color-fourth !important;
			color: white;
			padding-left: 35px;
		}

	}


}

@media (max-width: 576px) {

	#menu {
		width: 15em !important;
	}

}
