.navbar {


	//padding: 0;
	.navbar-header {
		float: right;
	}

	.navbar-brand {
		padding: 0;
	}

	.logo {
		width: 225px;
	}

	ul a {
		padding: 0px 10px 0px 10px;
		font-size: 15px;
		font-weight: 500;
		letter-spacing: 3px;
		text-decoration: none;
		color: $main-color;
		transition: $cubic-bezier-3;


	}

	ul li {
		transition: $cubic-bezier-3;
		border-bottom: 2px solid rgba(255, 255, 255, 0);
	}

	li:not(.disabled):hover {
		border-bottom: 2px solid $main-color !important;
	}

	.disabled {
		cursor: not-allowed;
	}

	.active {
		border-bottom: 2px solid $main-color;
	}

	@media (max-width: 992px) {
		ul li a {
			letter-spacing: 2px;
		}

	}

	// Small devices (landscape phones, 576px and up)
	@media (max-width: 576px) {

		.logo {
			width: 200px;
		}

	}
}
