article {
	transition: $cubic-bezier-6;
	border-radius: $border-radius;
	padding: 25px;
	margin-top: 25px;

	//	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) ;
	.image-wrap {
		border-radius: $border-radius;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
		padding: 60px 0px 60px 50px;
		margin: 25px 0px 25px 0px;
		min-height: 350px;
		width: 100%;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	.back {
		float: left;
		padding-top: 12px;
	}

	.post-info {

		text-align: right;

		a {
			padding-right: 3px;
			text-transform: uppercase;
			font-size: 14px;
			opacity: 0.3;
			font-weight: 500;
			color: rgba(22, 22, 22, 1);
			text-decoration: none;
			transition: $cubic-bezier-3;
		}

		a:hover {
			opacity: .4;
		}

		.separator {
			opacity: 0.6;
			color: rgba(22, 22, 22, 0.5) !important;
		}

		h5 {

			font-size: 16px;
			font-weight: 500;
			opacity: .6;
		}
	}

	h1 {
		font-size: 30px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		padding-bottom: 0px;
	}

	.post-content {
		transform: matrix(1, 0, 0, 1, 0, 0);
		padding: 100px;

		.post {
			padding: 25px 0px 50px 0px;
		}

		.author {
			text-align: right;
			opacity: .6;
			font-weight: 400;
			font-size: 18px;
			padding: 25px;
		}
	}
}

article:hover {
	//box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@media (max-width: 768px) {


	article {
		h1 {
			font-size: 25px;
		}

		padding: 0px;

	}

	.post-content {
		padding: 60px 10px 60px 10px !important;
	}
}
