/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    transition: all .8s cubic-bezier(.25, .8, .25, 1);
    background: $main-color; 

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $main-color-second; 
}