#services {
	padding: 0;
	margin: 50px 15px 100px 15px;


	.title {
		font-size: 42px;
		font-weight: 900;
		text-align: left !important;
	}


	.services {
		overflow: hidden;
		border-radius: $border-radius;
		margin: 20px 0px 20px 0px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

		.text {
			text-align: left;
			padding: 50px;
			color: white;

			h2 {
				font-size: 32px;
				font-weight: 900;
			}

			.sub-text {
				padding: 10px 0px 10px 0px;
			}

			.promo {
				font-size: 22px;
				padding: 10px 0px 10px 0px;
			}

			h4 {
				padding: 12px;
				background: white;
				font-weight: 600;
				font-size: 18px;
				float: left;
				border-radius: $border-radius;
			}
		}


		.asideImage {

			min-height: 300px;
			width: 100% !important;

		}

		.asidePrice {
			display: flex;
			display: -webkit-flex;
			margin-bottom: 12px;
			margin-top: 18px;
			padding: 12px 10px 12px 10px;
			border-radius: $border-radius;
			background-color: white;
			text-align: center;



			h2 {
				//color: $main-color;
				font-weight: 600;
				font-size: 28px;
				margin: auto;
				text-transform: uppercase;
				text-align: center;
			}

			p {
				//color: $main-color;
				font-weight: 400;
				font-size: 22px;
				margin: auto;
				text-transform: uppercase;
				text-align: center;
			}
		}
	}

}


@media (max-width: 576px) {
	.asidePrice {
		order: 2;

		h2,
		h3,
		p {
			font-size: 18px !important;
		}

	}
}

@media (max-width: 992px) {

	#services {
		.title {
			font-size: 28px;
			text-align: left !important;
		}


		.content {

			h1 {
				font-size: 30px;
			}

			p {
				font-size: 15px;
			}

			.asideImage {

				order: 2;
			}

			.text {
				padding: 30px 15px 30px 15px !important;
				order: 1;

			}




		}


	}

}
