body {
	background: url(../../images/background/dog.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
}

.logo{
    margin: 25px;
    width: 300px;
}

.container{
    padding-top: 80px;
    text-align: center;
    color:white  !important;;
}

#filter{
    background-color: rgba(14, 28, 32, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

h1{
    font-size: 24px;
}
h2{
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 25px;
}
p{
    padding-top: 25px;
    font-size: 18px;
}

.contact-btn{
    margin-top: 35px;
    a{ 
        font-size: 16px;
        padding: 20px;
        text-decoration: none;
        color: white !important ;
        font-weight: 500;
        transition: background-color .1s linear;
        background-color: rgba(255,255,255,.1);
        border-radius:5px;
    }
    a:hover{
        color: white;
        text-decoration:none;
        background-color: rgba(255,255,255,.3);

    }
}
