// Override Bootstrap variables in this file, e.g.

$font-size-base: 14px;
$main-color: #00541A;
$main-color-second: #028B40;
$main-color-third: rgb(6, 168, 79);
$main-color-fourth : #007834;
$border-radius-min:5px;
$border-radius:2px;
$border-radius-high:10px;
$border-radius-higher:50px;
$container-size: 1536px;

$cubic-bezier-3: all .3s cubic-bezier(.25, .8, .25, 1);
$cubic-bezier-6: all .6s cubic-bezier(.25, .8, .25, 1);

$aos-timing: 0.6s;
//#007834
