//fonts
//@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

// Bootstrap
// =========

// Bootstrap can be removed entirely by deleting this line.

//@import "bootstrap/bootstrap";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/variables";


// Site Styles
// ===========

// Add your own site style includes here
@import "site/loader";
@import "site/layout";
//@import "site/scrollbar";
@import "site/button";
@import "site/navigation";
@import "site/mobileNav";
@import "site/accueil";
@import "site/apropos";
@import "site/services";
@import "site/contact";
@import "site/footer";
//@import "site/temporary";
@import "site/blog";
@import "site/post";
