@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
#loader {
  position: absolute;
  top: 25%;
  left: 50%; }

.loader-2 {
  display: block;
  height: 32px;
  width: 32px;
  -webkit-animation: loader-2-1 3s linear infinite;
  animation: loader-2-1 3s linear infinite; }

@-webkit-keyframes loader-2-1 {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes loader-2-1 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.loader-2 span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 32px;
  width: 32px;
  clip: rect(16px, 32px, 32px, 0);
  -webkit-animation: loader-2-2 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: loader-2-2 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite; }

@-webkit-keyframes loader-2-2 {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes loader-2-2 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.loader-2 span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 32px;
  width: 32px;
  border: 3px solid transparent;
  border-top: 3px solid #028B40;
  border-radius: 50%;
  -webkit-animation: loader-2-3 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: loader-2-3 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite; }

@-webkit-keyframes loader-2-3 {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes loader-2-3 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.loader-2 span::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 32px;
  width: 32px;
  border: 3px solid rgba(2, 139, 64, 0.5);
  border-radius: 50%; }

body {
  font-family: 'Roboto', sans-serif !important; }

body[data-aos-duration='4000'] [data-aos],
[data-aos][data-aos][data-aos-duration='4000'] {
  -webkit-transition-duration: 4000ms; }

#body {
  position: relative; }

html {
  scroll-behavior: smooth; }

#error {
  text-align: center; }
  #error .container {
    position: relative;
    top: 100px; }
  #error .filter {
    opacity: .7 !important;
    background: #00541A; }
  #error .content {
    padding: 30px; }
  #error h1 {
    color: #00541A;
    font-size: 62px;
    font-weight: 500; }
  #error p {
    color: #00541A;
    font-size: 32px;
    font-weight: 400; }
  #error .btn {
    margin: 20px 0px 20px 0px !important;
    background-color: #00541A;
    color: white !important; }
  #error .btn:active {
    border: 2px solid #00541A !important;
    color: #00541A !important; }

/*---------------------------------------*/
.container-fluid {
  max-width: 1536px; }

.filter-left {
  border-radius: 2px !important;
  z-index: -2;
  position: absolute;
  width: 100% !important;
  height: 100%;
  background: rgba(18, 23, 46, 0.7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00541a', endColorstr='#0000541a', GradientType=1);
  opacity: 1; }

.filter-right {
  border-radius: 2px !important;
  z-index: -2;
  position: absolute;
  width: 100% !important;
  height: 100%;
  background: -moz-linear-gradient(-45deg, rgba(0, 84, 26, 0) 0%, #00541a 100%);
  background: -webkit-linear-gradient(-45deg, rgba(0, 84, 26, 0) 0%, #00541a 100%);
  background: linear-gradient(135deg, rgba(0, 84, 26, 0) 0%, #00541a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000541a', endColorstr='#00541a', GradientType=1);
  opacity: 1; }

.filter {
  border-radius: 2px !important;
  z-index: -2;
  position: absolute;
  width: 100% !important;
  height: 100%;
  background: rgba(12, 17, 36, 0.5);
  opacity: 1; }

#header {
  margin-top: 45px; }

.alert i {
  padding-left: 10px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.alert:hover i {
  transform: rotate(360deg); }

.admin-layout {
  display: none;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  background: #f8f8f8; }
  .admin-layout li {
    font-size: 12px;
    float: left;
    text-decoration: none;
    list-style-type: none;
    padding: 5px 10px 5px 10px; }

.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto; }

.backstretch {
  border-radius: 2px; }

.pageTitle-banner .content {
  padding: 60px 0px 60px 50px;
  margin: 25px 0px 50px 0px;
  color: white;
  text-align: left; }

.pageTitle-banner h1 {
  text-transform: uppercase;
  font-weight: 800; }

.pageTitle-banner h2 {
  font-size: 20px;
  font-weight: 400; }

.pageTitle-banner .contact-info {
  text-align: right; }
  .pageTitle-banner .contact-info a {
    display: inline-block;
    font-weight: 700;
    color: white;
    font-size: 18px;
    padding: 10px 18px 10px 18px;
    margin: 0px 10px 0px 10px;
    margin-top: 15px;
    border-radius: 5px;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.2);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    text-decoration: none; }
  .pageTitle-banner .contact-info a:hover {
    cursor: pointer;
    transform: translateY(5px);
    background: rgba(255, 255, 255, 0); }

.svg-img path {
  fill: #00541A;
  stroke: rgba(0, 0, 0, 0) !important;
  stroke-width: 0px !important; }

.svg-img-brand path {
  fill: #00541A;
  stroke: rgba(0, 0, 0, 0) !important;
  stroke-width: 0px !important; }

.cls-1 {
  stroke: rgba(0, 84, 27, 0) !important;
  stroke-width: 0px !important; }

@media (max-width: 992px) {
  .pageTitle-banner .content .contact-info {
    text-align: left; } }

@media (max-width: 768px) {
  .pageTitle-banner .content {
    text-align: center !important;
    padding: 60px 0px 60px 0px !important; }
    .pageTitle-banner .content .contact-info {
      margin-top: 25px;
      text-align: center !important; }
      .pageTitle-banner .content .contact-info a {
        margin-top: 15px; }
  .card {
    margin: 25px 0px 45px 0px; }
  .card:hover .card-bg {
    transform: scale(1.2, 1.2) !important; } }

.btn-primary {
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #00541A !important;
  font-weight: bold;
  padding: 10px 50px 10px 50px;
  font-size: 18px;
  border: none !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important; }

.btn-primary:hover {
  background-color: white;
  padding-right: 30px;
  padding-left: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important; }

.btn-primary:active {
  box-shadow: none;
  background-color: white !important;
  box-shadow: none !important; }

.btn-primary:focus {
  background-color: white;
  outline: 0 !important; }

.btn-primary:visited {
  outline: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
  background-color: white !important; }

.btn-second {
  background-color: white !important;
  border: 1px solid #00541A;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #00541A !important;
  border-radius: 2px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 50px 15px 50px;
  font-size: 18px; }

.btn-second:hover {
  background-color: #00541A !important;
  padding-right: 60px;
  padding-left: 60px; }

.btn-second:active {
  box-shadow: none;
  background-color: white !important;
  box-shadow: none !important; }

.btn-second:focus {
  background-color: white !important;
  outline: 0 !important; }

.btn-second:visited {
  outline: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
  background-color: white !important; }

.btn-blog {
  background-color: white !important;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 2px;
  border: 2px solid rgba(255, 255, 255, 0);
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 22px 8px 22px;
  font-size: 14px;
  outline: 0 !important;
  position: absolute;
  bottom: 40px;
  left: 40px; }

.btn-blog:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
  padding-right: 28px;
  padding-left: 28px; }

.btn-blog:active {
  background-color: rgba(0, 0, 0, 0) !important;
  color: white !important;
  box-shadow: none !important;
  border: 2px solid white;
  outline: 0 !important; }

.btn-blog:focus {
  outline: 0 !important; }

.btn-blog:visited {
  outline: 0 !important; }

.form-submit .disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #8f8f8f !important;
  outline: 0 !important; }

.btn-submit {
  background-color: #00541A;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: white !important;
  border-radius: 2px;
  border: 2px solid rgba(255, 255, 255, 0);
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 28px 12px 28px;
  font-size: 16px;
  outline: 0 !important; }

.btn-submit:not(.disabled):hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
  background-color: #028B40;
  padding-right: 40px;
  padding-left: 40px;
  outline: 0 !important; }

.btn-submit:not(.disabled):active {
  background-color: #028B40;
  color: white !important;
  box-shadow: none !important;
  outline: 0 !important; }

.btn-submit:not(.disabled):focus {
  outline: 0 !important; }

.btn-submit:not(.disabled):visited {
  outline: 0 !important; }

.btn-back {
  color: #028B40;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  outline: 0 !important; }
  .btn-back i {
    padding-right: 10px; }

.btn-back:hover {
  padding-left: 5px;
  color: #00541A; }

.btn-back:active {
  opacity: .5;
  outline: 0 !important; }

.btn-back:focus {
  outline: 0 !important; }

.btn-back:visited {
  outline: 0 !important; }

.navbar .navbar-header {
  float: right; }

.navbar .navbar-brand {
  padding: 0; }

.navbar .logo {
  width: 225px; }

.navbar ul a {
  padding: 0px 10px 0px 10px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 3px;
  text-decoration: none;
  color: #00541A;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.navbar ul li {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-bottom: 2px solid rgba(255, 255, 255, 0); }

.navbar li:not(.disabled):hover {
  border-bottom: 2px solid #00541A !important; }

.navbar .disabled {
  cursor: not-allowed; }

.navbar .active {
  border-bottom: 2px solid #00541A; }

@media (max-width: 992px) {
  .navbar ul li a {
    letter-spacing: 2px; } }

@media (max-width: 576px) {
  .navbar .logo {
    width: 200px; } }

/*should match the above value*/
.hamburger {
  transform: scale(0.7, 0.7); }
  .hamburger .hamburger-box .hamburger-inner {
    top: 25% !important; }
  .hamburger .hamburger-box .hamburger-inner,
  .hamburger .hamburger-box .hamburger-inner:after,
  .hamburger .hamburger-box .hamburger-inner:before {
    border-radius: 10px;
    background-color: #00541A !important; }

/* Sidebar Menu */
#menu {
  background: #028B40;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: fixed;
  left: -15.625em;
  z-index: 99999;
  /*left or right and the width of your navigation panel*/
  width: 15.625em; }
  #menu .a-nav a {
    color: white;
    font-size: 18px;
    text-decoration: none !important; }
  #menu .a-nav li {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    #menu .a-nav li i {
      font-size: 18px;
      padding-right: 10px; }
  #menu .a-nav a:hover li {
    background-color: white !important;
    color: #028B40;
    padding-left: 35px; }
  #menu .a-nav .active {
    background-color: #007834 !important;
    color: white;
    padding-left: 35px; }

@media (max-width: 576px) {
  #menu {
    width: 15em !important; } }

.accueil {
  /*----------------------------------------------------------------*/
  /*----------------------------------------------------------------*/
  /*----------------------------------------------------------------*/ }
  .accueil .intro-banner {
    display: table;
    height: 750px !important;
    margin-top: 30px;
    width: 100%; }
    .accueil .intro-banner .numero-nav {
      text-align: center;
      font-size: 22px;
      font-weight: 500;
      color: white;
      margin-top: 100px; }
      .accueil .intro-banner .numero-nav a {
        display: inline-block;
        color: white;
        padding: 5px 22px 5px 22px;
        text-decoration: none; }
      .accueil .intro-banner .numero-nav a span {
        transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
        border-bottom: 2px solid rgba(255, 255, 255, 0); }
      .accueil .intro-banner .numero-nav a:not(:nth-child(1)):hover span {
        border-bottom: 2px solid white; }
      .accueil .intro-banner .numero-nav i {
        padding-right: 10px; }
      .accueil .intro-banner .numero-nav h3 i {
        padding-right: 10px; }
    .accueil .intro-banner .backstretch img {
      transform: scale(1.2, 1.2); }
    .accueil .intro-banner .content {
      border-radius: 10px !important;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      height: 750px !important;
      padding: 50px 0px 50px 0px; }
      .accueil .intro-banner .content h1 {
        padding: 0px;
        color: white;
        font-weight: 800;
        font-size: 65px;
        margin: 0; }
      .accueil .intro-banner .content h2 {
        margin: 0;
        color: white;
        font-weight: 300;
        font-size: 40px; }
  .accueil .apropos-banner {
    margin: 50px 0px 35px 0px !important; }
    .accueil .apropos-banner .content {
      border-radius: 10px !important;
      text-align: right;
      padding: 80px 100px 80px 0px;
      transform: matrix(1, 0, 0, 1, 0, 0); }
      .accueil .apropos-banner .content h2 {
        color: white;
        font-weight: 800;
        font-size: 30px; }
      .accueil .apropos-banner .content p {
        margin: 0;
        color: white;
        font-size: 20px; }
      .accueil .apropos-banner .content button {
        margin-top: 35px; }
  .accueil .services {
    box-shadow: none !important;
    margin-top: 80px !important; }
    .accueil .services .title h2 {
      color: #00541A;
      text-align: center;
      font-weight: bold;
      font-size: 35px;
      margin-bottom: 35px;
      text-transform: uppercase; }
  .accueil a {
    text-decoration: none; }
  .accueil .card {
    display: block;
    overflow: hidden;
    position: relative !important;
    z-index: 1;
    min-height: 700px;
    width: 100%;
    height: 250px;
    padding: 30px 20px 30px 20px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    color: #00541A;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: none !important; }
    .accueil .card h2 {
      color: rgba(0, 0, 0, 0.8);
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 700;
      padding: 0;
      margin: 0; }
    .accueil .card .card-bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 925px;
      z-index: -1;
      transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .accueil .card .card-bg path {
        transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .accueil .card .ico {
      margin: 80px 0px 0px 0px;
      width: 132px;
      transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .accueil .card .ico path {
        transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
        fill: #00541A; }
    .accueil .card .card-body ul {
      padding: 50px 0px 50px 0px;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      color: #00541A;
      text-transform: uppercase; }
    .accueil .card .card-body .list-group .list-group-item {
      padding: 20px 0px 20px 0px;
      border-radius: 0px;
      border-left: 0px !important;
      border-right: 0px !important;
      background: none; }
  .accueil .card:hover {
    cursor: pointer;
    border: none;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    color: white !important; }
  .accueil .card:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .accueil .card:hover ul {
    color: #028B40; }
  .accueil .card:hover .card-bg {
    transform: scale(1.1, 1.1); }
  .accueil .card:hover .ico {
    width: 120px; }
  .accueil .card:hover .btn-second {
    border: none;
    background-color: #028B40 !important;
    color: white !important;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .accueil .card:hover .ico path {
    fill: #028B40; }
  .accueil .card:hover .card-bg path {
    fill: #028B40; }
  .accueil .contacte {
    margin-bottom: 80px; }
    .accueil .contacte .content {
      border-radius: 10px !important;
      text-align: center;
      padding: 50px 100px 50px 100px;
      transform: matrix(1, 0, 0, 1, 0, 0); }
      .accueil .contacte .content h2 {
        color: white;
        font-weight: 800;
        font-size: 35px; }
      .accueil .contacte .content p {
        margin: 0;
        color: white;
        font-size: 22px; }
      .accueil .contacte .content .font-italic {
        color: white;
        font-size: 20px;
        padding-top: 20px;
        font-style: italic; }
      .accueil .contacte .content button {
        color: #12172e !important;
        margin-top: 35px; }

@media (max-width: 992px) {
  .accueil .card:hover .card-bg {
    transform: scale(1.2, 1.2) !important; }
  .accueil .card {
    margin: 25px 0px 25px 0px; }
  .accueil .card-bg {
    transform: scale(1.4, 1);
    height: 100%; }
  .accueil .intro-banner {
    margin-top: 10px; }
    .accueil .intro-banner .content {
      text-align: center !important; }
      .accueil .intro-banner .content h1 {
        font-size: 52px; }
      .accueil .intro-banner .content h2 {
        font-size: 25px; }
    .accueil .intro-banner .numero-nav a {
      display: block;
      padding: 10px; }
  .accueil .apropos-banner .content {
    padding: 100px 50px 100px 50px !important;
    text-align: center !important; }
  .accueil .services {
    padding-bottom: 0px !important;
    margin: 0px !important; }
  .accueil .contacte {
    margin: 0px !important; }
    .accueil .contacte .content {
      padding: 100px 50px 100px 50px !important;
      text-align: center !important; } }

.apropos .header {
  margin: 50px 0px 50px 0px !important; }
  .apropos .header .backstretch img {
    transform: scale(1.2, 1.2) !important; }
  .apropos .header .filter {
    border-radius: 2px !important;
    z-index: -2;
    position: absolute;
    width: 100% !important;
    height: 100%;
    background: rgba(12, 17, 36, 0.6);
    opacity: 1; }
  .apropos .header .content {
    border-radius: 2px !important;
    transform: matrix(1, 0, 0, 1, 0, 0);
    padding: 50px 0px 0px 0px;
    overflow: hidden; }
    .apropos .header .content h1 {
      padding: 60px 60px 60px 100px;
      color: white;
      font-weight: 800;
      text-transform: uppercase;
      font-size: 40px; }
    .apropos .header .content .top-tag {
      background: #007834;
      border-radius: 0px 10px 10px 0px;
      padding: 35px 100px 35px 100px;
      max-width: 72%;
      display: inline-block; }
      .apropos .header .content .top-tag p {
        margin: 0;
        color: white;
        font-size: 32px;
        font-weight: 800; }
    .apropos .header .content .text-tag {
      max-width: 84%;
      padding: 80px 100px 80px 100px; }
      .apropos .header .content .text-tag p,
      .apropos .header .content .text-tag span {
        margin: 0;
        color: white; }
      .apropos .header .content .text-tag p:nth-child(1) {
        font-size: 22px;
        font-weight: 600; }
      .apropos .header .content .text-tag p:nth-child(2) {
        padding: 45px 0px 10px 0px;
        margin: 0;
        font-size: 18px;
        font-weight: 500; }
      .apropos .header .content .text-tag p:nth-child(3),
      .apropos .header .content .text-tag p:nth-child(4) {
        margin: 0;
        padding-bottom: 20px;
        color: white;
        font-size: 22px; }

.apropos .sub-content {
  margin: 50px 0px 50px 0px !important; }
  .apropos .sub-content .backstretch img {
    transform: scale(1.2, 1.2) !important; }
  .apropos .sub-content .filter {
    border-radius: 2px !important;
    z-index: -2;
    position: absolute;
    width: 100% !important;
    height: 100%;
    background: rgba(12, 17, 36, 0.6);
    opacity: 1; }
  .apropos .sub-content .content {
    border-radius: 2px !important;
    transform: matrix(1, 0, 0, 1, 0, 0);
    padding: 100px; }
    .apropos .sub-content .content .top-tag p {
      margin: 0;
      color: white;
      font-size: 32px;
      font-weight: 800; }
    .apropos .sub-content .content .text-tag p,
    .apropos .sub-content .content .text-tag span {
      margin: 0;
      color: white; }
    .apropos .sub-content .content .text-tag p:nth-child(1) {
      font-size: 18px;
      font-weight: 600;
      padding-top: 36px; }
    .apropos .sub-content .content .text-tag p:nth-child(2) {
      padding: 10px 0px 10px 0px;
      margin: 0;
      font-size: 22px;
      font-weight: 400; }
    .apropos .sub-content .content .aside-tag p {
      padding-top: 50px;
      margin: 0;
      color: white;
      font-size: 42px;
      font-weight: 800;
      line-height: 52px; }
    .apropos .sub-content .content .aside-tag hr {
      float: left;
      width: 6%;
      border-bottom: 10px solid white; }

.apropos .last-content {
  margin: 100px 0px 25px 0px;
  padding: 30px; }
  .apropos .last-content .backstretch img {
    transform: scale(1.2, 1.2) !important; }
  .apropos .last-content .content .maps {
    position: relative;
    min-height: 350px !important;
    width: 100% !important;
    margin-bottom: 50px; }
  .apropos .last-content .content .aside-text {
    padding: 25px 0px 25px 0px; }
    .apropos .last-content .content .aside-text p:nth-child(1) {
      font-size: 42px;
      font-weight: 800;
      line-height: 45px;
      color: #232323; }
    .apropos .last-content .content .aside-text hr {
      float: left;
      width: 6%;
      padding: 0;
      border-bottom: 10px solid #232323; }
    .apropos .last-content .content .aside-text p:nth-child(3) {
      padding-top: 50px;
      font-size: 20px;
      font-weight: 400;
      color: #00541A; }

@media (max-width: 992px) {
  .apropos .last-content {
    margin: 80px 0px 0px 0px !important; }
  .apropos hr {
    float: none !important;
    width: 6%; }
  .apropos .content {
    text-align: center; }
    .apropos .content h1 {
      padding: 80px 0px 80px 0px !important; }
    .apropos .content .text-tag {
      max-width: 100% !important;
      padding: 50px 20px 50px 20px !important; }
      .apropos .content .text-tag p:nth-child(1) {
        font-size: 18px !important; }
      .apropos .content .text-tag p:nth-child(3),
      .apropos .content .text-tag p:nth-child(4) {
        font-size: 18px !important; }
    .apropos .content .top-tag {
      border-radius: 0px !important;
      max-width: 100% !important;
      padding: 20px !important; }
      .apropos .content .top-tag p {
        font-size: 20px !important; }
  .sub-content .content {
    padding: 60px 40px 60px 40px !important; }
    .sub-content .content .text-tag p:nth-child(1) {
      padding: 0 !important; }
    .sub-content .content .aside-tag p {
      font-size: 28px !important;
      padding-top: 0 !important;
      line-height: initial !important; }
  .last-content {
    margin: 150px 0px 150px 0px !important; }
    .last-content .content .aside-text {
      padding: 0 !important;
      text-align: center !important; }
      .last-content .content .aside-text p:nth-child(3) {
        padding-top: 25px !important; } }

#services {
  padding: 0;
  margin: 50px 15px 100px 15px; }
  #services .title {
    font-size: 42px;
    font-weight: 900;
    text-align: left !important; }
  #services .services {
    overflow: hidden;
    border-radius: 2px;
    margin: 20px 0px 20px 0px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    #services .services .text {
      text-align: left;
      padding: 50px;
      color: white; }
      #services .services .text h2 {
        font-size: 32px;
        font-weight: 900; }
      #services .services .text .sub-text {
        padding: 10px 0px 10px 0px; }
      #services .services .text .promo {
        font-size: 22px;
        padding: 10px 0px 10px 0px; }
      #services .services .text h4 {
        padding: 12px;
        background: white;
        font-weight: 600;
        font-size: 18px;
        float: left;
        border-radius: 2px; }
    #services .services .asideImage {
      min-height: 300px;
      width: 100% !important; }
    #services .services .asidePrice {
      display: flex;
      display: -webkit-flex;
      margin-bottom: 12px;
      margin-top: 18px;
      padding: 12px 10px 12px 10px;
      border-radius: 2px;
      background-color: white;
      text-align: center; }
      #services .services .asidePrice h2 {
        font-weight: 600;
        font-size: 28px;
        margin: auto;
        text-transform: uppercase;
        text-align: center; }
      #services .services .asidePrice p {
        font-weight: 400;
        font-size: 22px;
        margin: auto;
        text-transform: uppercase;
        text-align: center; }

@media (max-width: 576px) {
  .asidePrice {
    order: 2; }
    .asidePrice h2,
    .asidePrice h3,
    .asidePrice p {
      font-size: 18px !important; } }

@media (max-width: 992px) {
  #services .title {
    font-size: 28px;
    text-align: left !important; }
  #services .content h1 {
    font-size: 30px; }
  #services .content p {
    font-size: 15px; }
  #services .content .asideImage {
    order: 2; }
  #services .content .text {
    padding: 30px 15px 30px 15px !important;
    order: 1; } }

.form-title {
  padding: 15px 0px 12px 15px; }
  .form-title h1 {
    font-size: 18px;
    color: #00541A; }
  .form-title i {
    padding-right: 10px; }

form {
  border-radius: 2px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  form .errorMess {
    text-transform: initial !important;
    display: none;
    font-size: 12px;
    padding-top: 10px !important;
    color: red; }
  form .form-group {
    padding: 10px 0px 10px 0px; }
  form label {
    font-size: 14px;
    font-weight: 600;
    opacity: 0.3; }
  form label i {
    padding-right: 8px; }
  form input[type=text],
  form input[type=email] {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1 px solid gray;
    border-radius: 0px !important;
    padding-left: 0px !important;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  form input[type=text]:focus,
  form input[type=email]:focus {
    padding-left: 10px !important; }
  form select[type=text] {
    color: #495057;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1 px solid gray;
    border-radius: 0px !important;
    padding: 0px !important;
    text-align: left;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  form select[type=text]:focus {
    padding-left: 10px !important; }
  form textarea[type=textarea] {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  form textarea[type=textarea]:focus {
    padding: 20px 0px 0px 20px !important; }

.contact-box h1 {
  font-size: 25px;
  font-weight: 700; }

/*----------------------------------------------------------------*/
#footer {
  text-align: center; }
  #footer .top-section-footer {
    padding: 25px 0px 80px 0px; }
  #footer .footer-brand {
    margin: 0; }
    #footer .footer-brand img {
      position: relative;
      top: 33%;
      width: 300px !important; }
  #footer .contact-info {
    text-align: left; }
    #footer .contact-info h3 {
      font-size: 17px;
      text-transform: uppercase;
      font-weight: bold;
      padding-bottom: 25px; }
    #footer .contact-info a {
      display: inline-block;
      font-weight: 600;
      color: white;
      font-size: 16px;
      padding: 6px 18px 6px 18px;
      margin-right: 14px;
      border-radius: 5px;
      border: 2px solid rgba(255, 255, 255, 0);
      background: #00541A;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      text-decoration: none; }
      #footer .contact-info a span {
        font-weight: 400; }
    #footer .contact-info a:hover {
      cursor: pointer;
      background: rgba(255, 255, 255, 0);
      border: 2px solid #00541A;
      color: #00541A; }
  #footer .social {
    text-align: left;
    padding: 22px 0px 22px 0px; }
    #footer .social i {
      font-size: 34px;
      color: #00541A;
      margin-right: 10px;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    #footer .social i:hover {
      opacity: .6;
      cursor: pointer; }
  #footer .sub-navigation li {
    font-size: 14px;
    padding: 0;
    margin: 0px 25px 0px 0px;
    color: #303030 !important;
    font-weight: 500;
    transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
    text-align: left;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    letter-spacing: 2px; }
  #footer .sub-navigation .active {
    border-bottom: 2px solid rgba(48, 48, 48, 0.3); }
  #footer .sub-navigation a {
    text-decoration: none; }
  #footer .sub-navigation li:hover {
    cursor: pointer;
    border-bottom: 2px solid #00541A; }
  #footer .copyright {
    padding: 80px 0px 25px 0px; }
    #footer .copyright h3:not(.job) {
      color: #8f8f8f;
      font-size: 14px !important;
      font-weight: 400; }
    #footer .copyright .job {
      text-decoration: none;
      color: #00541A;
      transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1); }
    #footer .copyright .job:hover {
      opacity: .5; }

@media (max-width: 992px) {
  #footer .footer-brand img {
    top: 0;
    padding: 25px; }
  #footer .contact-info,
  #footer .social,
  #footer .sub-navigation {
    text-align: center !important; }
  #footer .contact-info {
    margin: 20px 0px 20px 0px; }
    #footer .contact-info h3 {
      margin: 0; }
    #footer .contact-info p {
      margin: 5px; }
    #footer .contact-info a {
      margin: 10px 10px 10px 10px; }
  #footer .social i {
    padding: 5px;
    font-size: 40px; }
  #footer .sub-navigation {
    display: none; }
    #footer .sub-navigation a {
      margin: 5px !important; }
    #footer .sub-navigation li {
      text-align: center;
      padding: 10px !important;
      font-size: 18px;
      margin: 0; } }

.blog-content .post {
  opacity: 0; }

.blog-content .nav .active {
  color: #00541A !important; }

.blog-content .nav .nav-link:not(.active) {
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  color: gray;
  opacity: .8; }

.blog-content .nav .nav-link:not(.active):hover {
  opacity: 1; }

.blog-content .text-muted {
  text-align: center;
  padding: 200px 0px 200px 0px;
  margin: 100px 0px 100px 0px;
  border: 4px dashed rgba(0, 0, 0, 0.05);
  font-size: 22px;
  color: silver;
  font-weight: 400 !important; }

.blog-content .blog-post {
  padding: 25px 0px 100px 0px;
  z-index: 1; }
  .blog-content .blog-post .filter-post {
    z-index: -2;
    position: absolute;
    width: 100% !important;
    height: 100%;
    opacity: 1; }
  .blog-content .blog-post .card {
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    border-radius: 10px !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: none !important; }
    .blog-content .blog-post .card .card-title {
      margin-bottom: 16rem; }
    .blog-content .blog-post .card .card-img-top {
      transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
      object-fit: cover;
      position: absolute;
      width: 125%;
      height: 100%;
      z-index: -3; }
    .blog-content .blog-post .card .card-body {
      margin: 10px;
      padding: 25px 20px 60px 20px;
      text-align: left; }
      .blog-content .blog-post .card .card-body .categories-nav .categories {
        text-transform: uppercase;
        font-size: 12px;
        opacity: 0.6;
        font-weight: 500;
        color: white;
        text-decoration: none;
        padding-right: 5px; }
      .blog-content .blog-post .card .card-body .categories-nav .separator {
        opacity: 0.6;
        color: white !important; }
      .blog-content .blog-post .card .card-body .categories-nav .categories:hover {
        opacity: .5; }
      .blog-content .blog-post .card .card-body .lead {
        color: white !important;
        font-size: 16px;
        padding: 0;
        margin: 0;
        font-weight: 500;
        opacity: 0.8; }
      .blog-content .blog-post .card .card-body h5 {
        font-size: 38px;
        color: white;
        font-weight: 700;
        padding-top: 5px; }
      .blog-content .blog-post .card .card-body p {
        color: white;
        font-size: 15px;
        opacity: 0.9;
        padding-bottom: 10px;
        font-weight: 500; }
      .blog-content .blog-post .card .card-body .card-text {
        padding: 0; }
  .blog-content .blog-post .card:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important; }
  .blog-content .blog-post .card:hover .card-img-top {
    width: 115%; }
  .blog-content .blog-post .card:hover .btn-blog {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

@media (min-width: 576px) {
  .card-columns {
    column-count: 1; } }

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .card-columns {
    column-count: 2; } }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card-columns {
    column-count: 3; } }

article {
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 2px;
  padding: 25px;
  margin-top: 25px; }
  article .image-wrap {
    border-radius: 2px;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    padding: 60px 0px 60px 50px;
    margin: 25px 0px 25px 0px;
    min-height: 350px;
    width: 100%;
    transform: matrix(1, 0, 0, 1, 0, 0); }
  article .back {
    float: left;
    padding-top: 12px; }
  article .post-info {
    text-align: right; }
    article .post-info a {
      padding-right: 3px;
      text-transform: uppercase;
      font-size: 14px;
      opacity: 0.3;
      font-weight: 500;
      color: #161616;
      text-decoration: none;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    article .post-info a:hover {
      opacity: .4; }
    article .post-info .separator {
      opacity: 0.6;
      color: rgba(22, 22, 22, 0.5) !important; }
    article .post-info h5 {
      font-size: 16px;
      font-weight: 500;
      opacity: .6; }
  article h1 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 0px; }
  article .post-content {
    transform: matrix(1, 0, 0, 1, 0, 0);
    padding: 100px; }
    article .post-content .post {
      padding: 25px 0px 50px 0px; }
    article .post-content .author {
      text-align: right;
      opacity: .6;
      font-weight: 400;
      font-size: 18px;
      padding: 25px; }

@media (max-width: 768px) {
  article {
    padding: 0px; }
    article h1 {
      font-size: 25px; }
  .post-content {
    padding: 60px 10px 60px 10px !important; } }
